p {
    font-family: Arial Unicode MS, sans-serif;
    font-size:18px;
    color: #000000;
}
body {
    background: url(back.jpg) no-repeat fixed center;

}

img{
    width: 400px;
    height: 450px;
}
h3 {
    font-family: Bell MT;
    font-size: 20pt;
    color: rgb(155, 50, 60);
    font-weight: bold;
}

h1 {
    text-align: center;
}
h3{
    font-family: Calibri;
    font-size: 30px;
    color: red;
}
h4{
    font-size: 25px;
    color: blue;
}
.di{
    font-size: 20px;
}

